# Approximating the number of Hispanic inmates

Loading the libraries to be used:

In [ ]:
qtconsole

In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
import numpy as np

## Getting a list of common Hispanic names in the US

We are going to use the same list as in the case of Polk County (view the other notebook in this repo). This list is a reduced version of the one found at the website Mongobay.com and the data is taken from the 2010 US Census. This list will be used to compare with the names of the inmates and guess whether or not they are hispanic.

In [2]:
common_names_list = np.loadtxt('common_names_list.txt', dtype=str, unpack=True)
print('Total number of names =', len(common_names_list))

Total number of names = 899

# Trying with only 100 names!

In [ ]:
common_names_list = common_names_list[:100]
print('Total number of names =', len(common_names_list))

The next function makes it easier to access the search page with parameters such as 'Search Aliases = No'.

In [3]:
def make_url(last_name):
    return 'http://www.dc.state.fl.us/OffenderSearch/list.aspx?TypeSearch=AI&Page=List&DataAction=Filter&dcnumber=&LastName={}&FirstName=&SearchAliases=0&OffenseCategory=&CurrentLocation=&CountyOfCommitment=&photosonly=0&nophotos=1&matches=50'.format(last_name)

Setting up the webdriver which will simulate accessing the website in a Firefox Browser.
We set it to headless so that an actual browser window.

In [4]:
ffoptions = webdriver.firefox.options.Options()
ffoptions.headless = True
driver = webdriver.Firefox(options=ffoptions)
driver.implicitly_wait(10)

Setting up the list of tables which will be collected and then running the collection loop.

In [5]:
%%time
list_of_tables = []

for i, name in enumerate(common_names_list):
    print('i:',i,'; name=',name)
    number_of_results = last_elem_page = 50 #number of results per page and a variable to check if it is finished loading
    try:
        driver.get(make_url(name))
        last_elem_total = driver.find_element_by_id('ctl00_ContentPlaceHolder1_lblgrdListPage')
        last_elem_total = int(last_elem_total.text[last_elem_total.text.find('of') + 3:])
    except:
        #no results and no table found, therefore continue on to the next name
        continue

    while True:
        temp_table = pd.read_html(driver.page_source, attrs={'id':'ctl00_ContentPlaceHolder1_grdList'})[0]
        time.sleep(.5)
        if (str(last_elem_page) in temp_table.iloc[-1,0]) or (str(last_elem_total) in temp_table.iloc[-1,0]):
            #sometimes the next page won't load quickly enough and the same table is reloaded
            #this checks where we are in the collection and avoids duplicate tables
            list_of_tables.append(temp_table)
            last_elem_page += number_of_results
            try:
                #moving on to the next page of results.
                elem = driver.find_element_by_name('ctl00$ContentPlaceHolder1$btnListNext')
                elem.send_keys(Keys.RETURN)
            except:
                #no more results. move on to next name.
                break

i: 0 ; name= GARCIA
i: 1 ; name= RODRIGUEZ
i: 2 ; name= HERNANDEZ
i: 3 ; name= MARTINEZ
i: 4 ; name= LOPEZ
i: 5 ; name= GONZALEZ
i: 6 ; name= PEREZ
i: 7 ; name= SANCHEZ
i: 8 ; name= RAMIREZ
i: 9 ; name= TORRES
i: 10 ; name= FLORES
i: 11 ; name= RIVERA
i: 12 ; name= GOMEZ
i: 13 ; name= DIAZ
i: 14 ; name= CRUZ
i: 15 ; name= MORALES
i: 16 ; name= REYES
i: 17 ; name= GUTIERREZ
i: 18 ; name= ORTIZ
i: 19 ; name= CHAVEZ
i: 20 ; name= RAMOS
i: 21 ; name= RUIZ
i: 22 ; name= MENDOZA
i: 23 ; name= ALVAREZ
i: 24 ; name= JIMENEZ
i: 25 ; name= CASTILLO
i: 26 ; name= VASQUEZ
i: 27 ; name= ROMERO
i: 28 ; name= MORENO
i: 29 ; name= GONZALES
i: 30 ; name= HERRERA
i: 31 ; name= AGUILAR
i: 32 ; name= MEDINA
i: 33 ; name= VARGAS
i: 34 ; name= CASTRO
i: 35 ; name= GUZMAN
i: 36 ; name= MENDEZ
i: 37 ; name= FERNANDEZ
i: 38 ; name= MUNOZ
i: 39 ; name= SALAZAR
i: 40 ; name= GARZA
i: 41 ; name= SOTO
i: 42 ; name= VAZQUEZ
i: 43 ; name= ALVARADO
i: 44 ; name= CONTRERAS
i: 45 ; name= DELGADO
i: 46 ; name= PENA
i: 47 ; name= RIOS
i: 48 ; name= GUERRERO
i: 49 ; name= SANDOVAL
i: 50 ; name= ORTEGA
i: 51 ; name= ESTRADA
i: 52 ; name= NUNEZ
i: 53 ; name= MALDONADO
i: 54 ; name= DOMINGUEZ
i: 55 ; name= VALDEZ
i: 56 ; name= VEGA
i: 57 ; name= SANTIAGO
i: 58 ; name= ESPINOZA
i: 59 ; name= ROJAS
i: 60 ; name= SILVA
i: 61 ; name= MEJIA
i: 62 ; name= MARQUEZ
i: 63 ; name= JUAREZ
i: 64 ; name= PADILLA
i: 65 ; name= LUNA
i: 66 ; name= ACOSTA
i: 67 ; name= FIGUEROA
i: 68 ; name= CORTEZ
i: 69 ; name= AVILA
i: 70 ; name= NAVARRO
i: 71 ; name= MOLINA
i: 72 ; name= AYALA
i: 73 ; name= CAMPOS
i: 74 ; name= SANTOS
i: 75 ; name= CARRILLO
i: 76 ; name= CERVANTES
i: 77 ; name= DURAN
i: 78 ; name= LARA
i: 79 ; name= CABRERA
i: 80 ; name= SOLIS
i: 81 ; name= MIRANDA
i: 82 ; name= ROBLES
i: 83 ; name= FUENTES
i: 84 ; name= SALINAS
i: 85 ; name= VELASQUEZ
i: 86 ; name= OCHOA
i: 87 ; name= AGUIRRE
i: 88 ; name= LEON
i: 89 ; name= CARDENAS
i: 90 ; name= DELEON
i: 91 ; name= RIVAS
i: 92 ; name= CALDERON
i: 93 ; name= ROSALES
i: 94 ; name= SERRANO
i: 95 ; name= CASTANEDA
i: 96 ; name= TRUJILLO
i: 97 ; name= MONTOYA
i: 98 ; name= PACHECO
i: 99 ; name= OROZCO
i: 100 ; name= IBARRA
i: 101 ; name= VALENCIA
i: 102 ; name= GALLEGOS
i: 103 ; name= VELAZQUEZ
i: 104 ; name= CAMACHO
i: 105 ; name= GUERRA
i: 106 ; name= COLON
i: 107 ; name= ESCOBAR
i: 108 ; name= SUAREZ
i: 109 ; name= SALAS
i: 110 ; name= MACIAS
i: 111 ; name= VILLARREAL
i: 112 ; name= BARRERA
i: 113 ; name= FRANCO
i: 114 ; name= ZAMORA
i: 115 ; name= DELACRUZ
i: 116 ; name= SANTANA
i: 117 ; name= ROMAN
i: 118 ; name= PINEDA
i: 119 ; name= TREVINO
i: 120 ; name= RANGEL
i: 121 ; name= ARIAS
i: 122 ; name= LOZANO
i: 123 ; name= ZUNIGA
i: 124 ; name= MERCADO
i: 125 ; name= MELENDEZ
i: 126 ; name= MORA
i: 127 ; name= VALENZUELA
i: 128 ; name= ANDRADE
i: 129 ; name= MEZA
i: 130 ; name= VILLANUEVA
i: 131 ; name= GALVAN
i: 132 ; name= TAPIA
i: 133 ; name= ZAVALA
i: 134 ; name= SOSA
i: 135 ; name= VELEZ
i: 136 ; name= CISNEROS
i: 137 ; name= BENITEZ
i: 138 ; name= ACEVEDO
i: 139 ; name= BONILLA
i: 140 ; name= ARROYO
i: 141 ; name= VILLA
i: 142 ; name= RUBIO
i: 143 ; name= BAUTISTA
i: 144 ; name= ARELLANO
i: 145 ; name= PONCE
i: 146 ; name= HUERTA
i: 147 ; name= BELTRAN
i: 148 ; name= ROCHA
i: 149 ; name= VILLEGAS
i: 150 ; name= CANTU
i: 151 ; name= MONTES
i: 152 ; name= BARAJAS
i: 153 ; name= MATA
i: 154 ; name= MURILLO
i: 155 ; name= ROSAS
i: 156 ; name= CORTES
i: 157 ; name= GUEVARA
i: 158 ; name= SALGADO
i: 159 ; name= ROSARIO
i: 160 ; name= PALACIOS
i: 161 ; name= DAVILA
i: 162 ; name= ESPARZA
i: 163 ; name= CUEVAS
i: 164 ; name= CORDOVA
i: 165 ; name= TREJO
i: 166 ; name= QUINTERO
i: 167 ; name= MARIN
i: 168 ; name= BRAVO
i: 169 ; name= CORONA
i: 170 ; name= MEDRANO
i: 171 ; name= NAVA
i: 172 ; name= MAGANA
i: 173 ; name= DEJESUS
i: 174 ; name= PORTILLO
i: 175 ; name= VILLALOBOS
i: 176 ; name= ENRIQUEZ
i: 177 ; name= ESQUIVEL
i: 178 ; name= AVALOS
i: 179 ; name= BERNAL
i: 180 ; name= LUGO
i: 181 ; name= DUARTE
i: 182 ; name= CANO
i: 183 ; name= PARRA
i: 184 ; name= ESPINOSA
i: 185 ; name= GALINDO
i: 186 ; name= DELAROSA
i: 187 ; name= QUINTANA
i: 188 ; name= ALFARO
i: 189 ; name= JARAMILLO
i: 190 ; name= LUCERO
i: 191 ; name= CORREA
i: 192 ; name= REYNA
i: 193 ; name= SIERRA
i: 194 ; name= NIEVES
i: 195 ; name= SALDANA
i: 196 ; name= QUINONES
i: 197 ; name= PERALTA
i: 198 ; name= BECERRA
i: 199 ; name= AMAYA
i: 200 ; name= SAENZ
i: 201 ; name= TOVAR
i: 202 ; name= VERA
i: 203 ; name= LEAL
i: 204 ; name= CARDONA
i: 205 ; name= AGUILERA
i: 206 ; name= ZAPATA
i: 207 ; name= BAEZ
i: 208 ; name= VENTURA
i: 209 ; name= BARRIOS
i: 210 ; name= CASTELLANOS
i: 211 ; name= CARRASCO
i: 212 ; name= SAUCEDO
i: 213 ; name= GALLARDO
i: 214 ; name= HURTADO
i: 215 ; name= GUILLEN
i: 216 ; name= ALONSO
i: 217 ; name= OSORIO
i: 218 ; name= MUNIZ
i: 219 ; name= ZEPEDA
i: 220 ; name= ESCOBEDO
i: 221 ; name= ARREDONDO
i: 222 ; name= SEGURA
i: 223 ; name= VALLE
i: 224 ; name= MORAN
i: 225 ; name= VELASCO
i: 226 ; name= CARRANZA
i: 227 ; name= FELIX
i: 228 ; name= RENTERIA
i: 229 ; name= BLANCO
i: 230 ; name= OLVERA
i: 231 ; name= CORDERO
i: 232 ; name= QUIROZ
i: 233 ; name= LEMUS
i: 234 ; name= CABALLERO
i: 235 ; name= CHACON
i: 236 ; name= CORONADO
i: 237 ; name= ORELLANA
i: 238 ; name= MADRIGAL
i: 239 ; name= DELATORRE
i: 240 ; name= GRANADOS
i: 241 ; name= PAREDES
i: 242 ; name= QUEZADA
i: 243 ; name= CARMONA
i: 244 ; name= LEYVA
i: 245 ; name= HINOJOSA
i: 246 ; name= ROSADO
i: 247 ; name= VIGIL
i: 248 ; name= VARELA
i: 249 ; name= YANEZ
i: 250 ; name= BERMUDEZ
i: 251 ; name= ROMO
i: 252 ; name= AVILES
i: 253 ; name= MONTANO
i: 254 ; name= NIETO
i: 255 ; name= VELA
i: 256 ; name= URIBE
i: 257 ; name= SERNA
i: 258 ; name= GAMEZ
i: 259 ; name= NAVARRETE
i: 260 ; name= RICO
i: 261 ; name= OLIVARES
i: 262 ; name= GIL
i: 263 ; name= PAZ
i: 264 ; name= BACA
i: 265 ; name= BURGOS
i: 266 ; name= CANALES
i: 267 ; name= ANAYA
i: 268 ; name= BARRAGAN
i: 269 ; name= BARRON
i: 270 ; name= MADRID
i: 271 ; name= AREVALO
i: 272 ; name= BENAVIDES
i: 273 ; name= SOLANO
i: 274 ; name= REYNOSO
i: 275 ; name= ROSA
i: 276 ; name= BUSTAMANTE
i: 277 ; name= ARAGON
i: 278 ; name= MONTALVO
i: 279 ; name= ORNELAS
i: 280 ; name= CASILLAS
i: 281 ; name= TELLEZ
i: 282 ; name= QUINTANILLA
i: 283 ; name= ALEMAN
i: 284 ; name= OCAMPO
i: 285 ; name= PRADO
i: 286 ; name= PINA
i: 287 ; name= CARBAJAL
i: 288 ; name= VALADEZ
i: 289 ; name= OJEDA
i: 290 ; name= GODINEZ
i: 291 ; name= ARREOLA
i: 292 ; name= RODRIQUEZ
i: 293 ; name= CUELLAR
i: 294 ; name= AMADOR
i: 295 ; name= FONSECA
i: 296 ; name= PAGAN
i: 297 ; name= HIDALGO
i: 298 ; name= SOTELO
i: 299 ; name= VENEGAS
i: 300 ; name= ESCAMILLA
i: 301 ; name= BETANCOURT
i: 302 ; name= ZARATE
i: 303 ; name= YBARRA
i: 304 ; name= PATINO
i: 305 ; name= LUJAN
i: 306 ; name= MARRERO
i: 307 ; name= POLANCO
i: 308 ; name= ESCALANTE
i: 309 ; name= OTERO
i: 310 ; name= MARROQUIN
i: 311 ; name= ARTEAGA
i: 312 ; name= OLIVAS
i: 313 ; name= VALDES
i: 314 ; name= LINARES
i: 315 ; name= ARRIAGA
i: 316 ; name= RENDON
i: 317 ; name= FELICIANO
i: 318 ; name= CASAS
i: 319 ; name= SEPULVEDA
i: 320 ; name= SORIANO
i: 321 ; name= GALVEZ
i: 322 ; name= LEDESMA
i: 323 ; name= BANUELOS
i: 324 ; name= BRITO
i: 325 ; name= BARRIENTOS
i: 326 ; name= ZARAGOZA
i: 327 ; name= PRIETO
i: 328 ; name= ARANDA
i: 329 ; name= MONDRAGON
i: 330 ; name= VALLEJO
i: 331 ; name= COVARRUBIAS
i: 332 ; name= NAJERA
i: 333 ; name= MENA
i: 334 ; name= CHAVARRIA
i: 335 ; name= SAAVEDRA
i: 336 ; name= PULIDO
i: 337 ; name= MATOS
i: 338 ; name= BARRAZA
i: 339 ; name= ALARCON
i: 340 ; name= ARCE
i: 341 ; name= JAIMES
i: 342 ; name= CEJA
i: 343 ; name= MOORE
i: 344 ; name= ARGUETA
i: 345 ; name= NEGRON
i: 346 ; name= ORDONEZ
i: 347 ; name= GAMBOA
i: 348 ; name= CERDA
i: 349 ; name= VALENTIN
i: 350 ; name= SALCEDO
i: 351 ; name= HEREDIA
i: 352 ; name= CORNEJO
i: 353 ; name= ALCALA
i: 354 ; name= MOYA
i: 355 ; name= MIRELES
i: 356 ; name= SALDIVAR
i: 357 ; name= CAVAZOS
i: 358 ; name= PIMENTEL
i: 359 ; name= LONGORIA
i: 360 ; name= ANGUIANO
i: 361 ; name= NEVAREZ
i: 362 ; name= CRESPO
i: 363 ; name= ZAMBRANO
i: 364 ; name= BALDERAS
i: 365 ; name= CAZARES
i: 366 ; name= RINCON
i: 367 ; name= ONTIVEROS
i: 368 ; name= ESPINAL

i: 369 ; name= ALANIZ
i: 370 ; name= TOLEDO
i: 371 ; name= CORRAL
i: 372 ; name= TORREZ
i: 373 ; name= DELOSSANTOS
i: 374 ; name= ROBLEDO
i: 375 ; name= MONTANEZ
i: 376 ; name= BUSTOS
i: 377 ; name= ADAME
i: 378 ; name= PALMA
i: 379 ; name= VALDIVIA
i: 380 ; name= ABREU
i: 381 ; name= HOLGUIN
i: 382 ; name= FRIAS
i: 383 ; name= ACUNA
i: 384 ; name= VIDAL
i: 385 ; name= HENRIQUEZ
i: 386 ; name= MONTERO
i: 387 ; name= CARRERA
i: 388 ; name= BUENO
i: 389 ; name= CEBALLOS
i: 390 ; name= BATISTA
i: 391 ; name= DELGADILLO
i: 392 ; name= ESPINO
i: 393 ; name= PANTOJA
i: 394 ; name= OLIVA
i: 395 ; name= NEGRETE
i: 396 ; name= NARANJO
i: 397 ; name= APONTE
i: 398 ; name= ELIZONDO
i: 399 ; name= CHAPA
i: 400 ; name= SOLORZANO
i: 401 ; name= AQUINO
i: 402 ; name= URBINA
i: 403 ; name= GAYTAN
i: 404 ; name= RESENDIZ
i: 405 ; name= ALMANZA
i: 406 ; name= PUENTE
i: 407 ; name= TAMAYO
i: 408 ; name= MONROY
i: 409 ; name= TEJEDA
i: 410 ; name= ARMENTA
i: 411 ; name= TEJADA
i: 412 ; name= PERALES
i: 413 ; name= FARIAS
i: 414 ; name= GIRON
i: 415 ; name= VILLASENOR
i: 416 ; name= LIRA
i: 417 ; name= COLLAZO
i: 418 ; name= NORIEGA
i: 419 ; name= LIMON
i: 420 ; name= MOJICA
i: 421 ; name= SOLORIO
i: 422 ; name= CENTENO
i: 423 ; name= ARAUJO
i: 424 ; name= BANDA
i: 425 ; name= RODRIGUES
i: 426 ; name= MACHADO
i: 427 ; name= APARICIO
i: 428 ; name= SORIA
i: 429 ; name= ANGEL
i: 430 ; name= GARAY
i: 431 ; name= IRIZARRY
i: 432 ; name= LOERA
i: 433 ; name= GUAJARDO
i: 434 ; name= JASSO
i: 435 ; name= VERGARA
i: 436 ; name= ULLOA
i: 437 ; name= JAIME
i: 438 ; name= ALCANTAR
i: 439 ; name= ELIAS
i: 440 ; name= GARIBAY
i: 441 ; name= MARES
i: 442 ; name= TIRADO
i: 443 ; name= BRIONES
i: 444 ; name= AGUAYO
i: 445 ; name= SANTILLAN
i: 446 ; name= GUARDADO
i: 447 ; name= MOTA
i: 448 ; name= FAJARDO
i: 449 ; name= SEGOVIA
i: 450 ; name= VALLES
i: 451 ; name= PADRON
i: 452 ; name= FIERRO
i: 453 ; name= MUNGUIA
i: 454 ; name= PEDRAZA
i: 455 ; name= JAUREGUI
i: 456 ; name= LORENZO
i: 457 ; name= DUENAS
i: 458 ; name= ANGULO
i: 459 ; name= PRECIADO
i: 460 ; name= ZELAYA
i: 461 ; name= REGALADO
i: 462 ; name= ARMENDARIZ
i: 463 ; name= ROQUE
i: 464 ; name= MONTIEL
i: 465 ; name= LOMELI
i: 466 ; name= BARBOSA
i: 467 ; name= ALTAMIRANO
i: 468 ; name= LERMA
i: 469 ; name= BERRIOS
i: 470 ; name= ROLDAN
i: 471 ; name= MESA
i: 472 ; name= FERRER
i: 473 ; name= CARABALLO
i: 474 ; name= BENAVIDEZ
i: 475 ; name= CACERES
i: 476 ; name= VALLADARES
i: 477 ; name= RAZO
i: 478 ; name= CINTRON
i: 479 ; name= BOLANOS
i: 480 ; name= MATEO
i: 481 ; name= JACOBO
i: 482 ; name= ALICEA
i: 483 ; name= QUINONEZ
i: 484 ; name= ESTRELLA
i: 485 ; name= CARREON
i: 486 ; name= RUVALCABA
i: 487 ; name= RUELAS
i: 488 ; name= ALMONTE
i: 489 ; name= BELLO
i: 490 ; name= PORRAS
i: 491 ; name= LOYA
i: 492 ; name= ZAMUDIO
i: 493 ; name= ALCARAZ
i: 494 ; name= FALCON
i: 495 ; name= BOTELLO
i: 496 ; name= CADENA
i: 497 ; name= ALBA
i: 498 ; name= CABRAL
i: 499 ; name= CAMARENA
i: 500 ; name= ARCHULETA
i: 501 ; name= VILLAGOMEZ
i: 502 ; name= CARLOS
i: 503 ; name= BALTAZAR
i: 504 ; name= LAZO
i: 505 ; name= URENA
i: 506 ; name= CEPEDA
i: 507 ; name= LANDEROS
i: 508 ; name= ARENAS
i: 509 ; name= NOLASCO
i: 510 ; name= DELVALLE
i: 511 ; name= ALANIS
i: 512 ; name= MERINO
i: 513 ; name= LARIOS
i: 514 ; name= SIFUENTES
i: 515 ; name= GODOY
i: 516 ; name= RODAS
i: 517 ; name= PEDROZA
i: 518 ; name= TELLO
i: 519 ; name= HARO
i: 520 ; name= ESTEVEZ
i: 521 ; name= SAUCEDA
i: 522 ; name= TRINIDAD
i: 523 ; name= CORRALES
i: 524 ; name= CAMARILLO
i: 525 ; name= BRISENO
i: 526 ; name= VILLATORO
i: 527 ; name= AMBRIZ
i: 528 ; name= FRANCISCO
i: 529 ; name= PICHARDO
i: 530 ; name= CEDILLO
i: 531 ; name= AMARO
i: 532 ; name= LLAMAS
i: 533 ; name= MENENDEZ
i: 534 ; name= SARMIENTO
i: 535 ; name= NINO
i: 536 ; name= PANIAGUA
i: 537 ; name= SERRATO
i: 538 ; name= TERRAZAS
i: 539 ; name= VALDOVINOS
i: 540 ; name= PEREA
i: 541 ; name= DELAGARZA
i: 542 ; name= GALARZA
i: 543 ; name= SALCIDO
i: 544 ; name= MANZO
i: 545 ; name= BAHENA
i: 546 ; name= TAVAREZ
i: 547 ; name= RIVERO
i: 548 ; name= OLGUIN
i: 549 ; name= ANGELES
i: 550 ; name= RAMON
i: 551 ; name= VALERIO
i: 552 ; name= APODACA
i: 553 ; name= NARVAEZ
i: 554 ; name= SANTAMARIA
i: 555 ; name= ROJO
i: 556 ; name= PERDOMO
i: 557 ; name= ALCANTARA
i: 558 ; name= CURIEL
i: 559 ; name= LEDEZMA
i: 560 ; name= CALVILLO
i: 561 ; name= PAEZ
i: 562 ; name= MONTENEGRO
i: 563 ; name= ACEVES
i: 564 ; name= FLOREZ
i: 565 ; name= OLMOS
i: 566 ; name= ALDANA
i: 567 ; name= MACIEL
i: 568 ; name= IGLESIAS
i: 569 ; name= TINOCO
i: 570 ; name= PEREIRA
i: 571 ; name= TAVERAS
i: 572 ; name= VIERA
i: 573 ; name= MAYORGA
i: 574 ; name= PAULINO
i: 575 ; name= MOSQUEDA
i: 576 ; name= MILLAN
i: 577 ; name= MAYA
i: 578 ; name= MATIAS
i: 579 ; name= CARRION
i: 580 ; name= INFANTE
i: 581 ; name= BADILLO
i: 582 ; name= OLIVAREZ
i: 583 ; name= ECHEVARRIA
i: 584 ; name= ABARCA
i: 585 ; name= ECHEVERRIA
i: 586 ; name= MONTEZ
i: 587 ; name= GAONA
i: 588 ; name= DELUNA
i: 589 ; name= LIMA
i: 590 ; name= TORO
i: 591 ; name= RESENDEZ
i: 592 ; name= ISLAS
i: 593 ; name= DELRIO
i: 594 ; name= LUCAS
i: 595 ; name= CONCEPCION
i: 596 ; name= LEBRON
i: 597 ; name= RUEDA
i: 598 ; name= ARANA
i: 599 ; name= PALOMINO
i: 600 ; name= OLIVO
i: 601 ; name= LUCIO
i: 602 ; name= OCASIO
i: 603 ; name= MELGAR
i: 604 ; name= PLASCENCIA
i: 605 ; name= CAMARGO
i: 606 ; name= CEDENO
i: 607 ; name= PARTIDA
i: 608 ; name= MIRAMONTES
i: 609 ; name= INIGUEZ
i: 610 ; name= AVINA
i: 611 ; name= SANABRIA
i: 612 ; name= BARRETO
i: 613 ; name= JURADO
i: 614 ; name= LOZA
i: 615 ; name= PARDO
i: 616 ; name= BARBA
i: 617 ; name= BARAHONA
i: 618 ; name= GALICIA
i: 619 ; name= MENJIVAR
i: 620 ; name= ANTONIO
i: 621 ; name= CARDOZA
i: 622 ; name= SANTOYO
i: 623 ; name= SOLIZ
i: 624 ; name= ALFONSO
i: 625 ; name= MERAZ
i: 626 ; name= RODARTE
i: 627 ; name= CHAVIRA
i: 628 ; name= HERNANDES
i: 629 ; name= CARVAJAL
i: 630 ; name= PINTO
i: 631 ; name= MENDIOLA
i: 632 ; name= BALLESTEROS
i: 633 ; name= VILLAREAL
i: 634 ; name= MAGALLANES
i: 635 ; name= MARTINES
i: 636 ; name= MONTELONGO
i: 637 ; name= ALMARAZ
i: 638 ; name= TAFOYA
i: 639 ; name= MARISCAL
i: 640 ; name= TIJERINA
i: 641 ; name= VICENTE
i: 642 ; name= MADERA
i: 643 ; name= COLLADO
i: 644 ; name= COTA
i: 645 ; name= SARABIA
i: 646 ; name= CARTAGENA
i: 647 ; name= BAEZA
i: 648 ; name= GRACIA
i: 649 ; name= DEANDA
i: 650 ; name= LOZADA
i: 651 ; name= VALVERDE
i: 652 ; name= MARTE
i: 653 ; name= JAQUEZ
i: 654 ; name= MONCADA
i: 655 ; name= ARGUELLO
i: 656 ; name= JARA
i: 657 ; name= OVIEDO
i: 658 ; name= MANRIQUEZ
i: 659 ; name= PARADA
i: 660 ; name= PELAYO
i: 661 ; name= SALVADOR
i: 662 ; name= MAGDALENO
i: 663 ; name= LEIVA
i: 664 ; name= ASCENCIO
i: 665 ; name= ALVARENGA
i: 666 ; name= CONDE
i: 667 ; name= SANTACRUZ
i: 668 ; name= MENCHACA
i: 669 ; name= URIAS
i: 670 ; name= CARO
i: 671 ; name= TERAN
i: 672 ; name= MANZANO
i: 673 ; name= OROSCO
i: 674 ; name= VACA
i: 675 ; name= ORDAZ
i: 676 ; name= CASTELLON
i: 677 ; name= QUEVEDO
i: 678 ; name= VILLALPANDO
i: 679 ; name= BIANCO
i: 680 ; name= GASPAR
i: 681 ; name= OLIVERA
i: 682 ; name= LOREDO
i: 683 ; name= MANCILLA
i: 684 ; name= MELCHOR
i: 685 ; name= MORIN
i: 686 ; name= CASTANON
i: 687 ; name= IBANEZ
i: 688 ; name= FERREIRA
i: 689 ; name= TAMEZ
i: 690 ; name= ZAYAS
i: 691 ; name= OVALLE
i: 692 ; name= MONGE
i: 693 ; name= FAVELA
i: 694 ; name= SAMANIEGO
i: 695 ; name= SERVIN
i: 696 ; name= PUENTES
i: 697 ; name= GRIEGO
i: 698 ; name= ABREGO
i: 699 ; name= FRAUSTO
i: 700 ; name= ARMIJO
i: 701 ; name= ORTA
i: 702 ; name= GARRIDO
i: 703 ; name= VANEGAS
i: 704 ; name= AMEZCUA
i: 705 ; name= OSUNA
i: 706 ; name= CALDERA
i: 707 ; name= GRIJALVA
i: 708 ; name= TALAVERA
i: 709 ; name= GAITAN
i: 710 ; name= ZAMARRIPA
i: 711 ; name= POSADA
i: 712 ; name= RESTREPO
i: 713 ; name= CANDELARIA
i: 714 ; name= SALMERON
i: 715 ; name= SANCHES
i: 716 ; name= BAZAN
i: 717 ; name= PALACIO
i: 718 ; name= SEVILLA
i: 719 ; name= AVELAR
i: 720 ; name= GURROLA
i: 721 ; name= TURCIOS
i: 722 ; name= QUESADA
i: 723 ; name= CASANOVA
i: 724 ; name= MAESTAS
i: 725 ; name= LAGUNAS
i: 726 ; name= BUENROSTRO
i: 727 ; name= MIGUEL
i: 728 ; name= BOCANEGRA
i: 729 ; name= PENALOZA

i: 730 ; name= DELTORO
i: 731 ; name= OROPEZA
i: 732 ; name= ARAIZA
i: 733 ; name= MONTEMAYOR
i: 734 ; name= MANZANARES
i: 735 ; name= DESANTIAGO
i: 736 ; name= PINO
i: 737 ; name= CARDOSO
i: 738 ; name= TENORIO
i: 739 ; name= CORONEL
i: 740 ; name= GALAN
i: 741 ; name= VERDUZCO
i: 742 ; name= PUGA
i: 743 ; name= DUQUE
i: 744 ; name= PALOMO
i: 745 ; name= CASAREZ
i: 746 ; name= ALEJANDRO
i: 747 ; name= VERDUGO
i: 748 ; name= PALOMARES
i: 749 ; name= BARCENAS
i: 750 ; name= MURO
i: 751 ; name= CARRIZALES
i: 752 ; name= CARRASQUILLO
i: 753 ; name= VELIZ
i: 754 ; name= RAYA
i: 755 ; name= LUIS
i: 756 ; name= VELARDE
i: 757 ; name= GASTELUM
i: 758 ; name= GARDUNO
i: 759 ; name= CARRENO
i: 760 ; name= PASCUAL
i: 761 ; name= BARELA
i: 762 ; name= DAVALOS
i: 763 ; name= WARD
i: 764 ; name= ARANGO
i: 765 ; name= URRUTIA
i: 766 ; name= BAILEY
i: 767 ; name= PINON
i: 768 ; name= PIZARRO
i: 769 ; name= ARRIOLA
i: 770 ; name= SORTO
i: 771 ; name= RECINOS
i: 772 ; name= BEJARANO
i: 773 ; name= LEIJA
i: 774 ; name= LOVATO
i: 775 ; name= BENNETT
i: 776 ; name= LAZARO
i: 777 ; name= BARBOZA
i: 778 ; name= QUILES
i: 779 ; name= MENESES
i: 780 ; name= ARREGUIN
i: 781 ; name= ESCALERA
i: 782 ; name= ANDINO
i: 783 ; name= YEPEZ
i: 784 ; name= LIZARRAGA
i: 785 ; name= LANDAVERDE
i: 786 ; name= NUNO
i: 787 ; name= MACEDO
i: 788 ; name= BORREGO
i: 789 ; name= TOBAR
i: 790 ; name= RAMIRES
i: 791 ; name= LANDA
i: 792 ; name= MACHUCA
i: 793 ; name= HERMOSILLO
i: 794 ; name= LORA
i: 795 ; name= DELAFUENTE
i: 796 ; name= ALBARRAN
i: 797 ; name= IZAGUIRRE
i: 798 ; name= DIMAS
i: 799 ; name= CHAIREZ
i: 800 ; name= GALAVIZ
i: 801 ; name= MICHEL
i: 802 ; name= GIRALDO
i: 803 ; name= CASTREJON
i: 804 ; name= CIFUENTES
i: 805 ; name= LUEVANO
i: 806 ; name= MANDUJANO
i: 807 ; name= CARPIO
i: 808 ; name= UMANA
i: 809 ; name= FABIAN
i: 810 ; name= OZUNA
i: 811 ; name= SARAVIA
i: 812 ; name= RIZO
i: 813 ; name= DELAO
i: 814 ; name= PABON
i: 815 ; name= BEDOLLA
i: 816 ; name= GUADARRAMA
i: 817 ; name= RASCON
i: 818 ; name= AGUERO
i: 819 ; name= NAZARIO
i: 820 ; name= COLIN
i: 821 ; name= BOJORQUEZ
i: 822 ; name= CATALAN
i: 823 ; name= COTTO
i: 824 ; name= MEDELLIN
i: 825 ; name= PINEDO
i: 826 ; name= ARVIZU
i: 827 ; name= CHAPARRO
i: 828 ; name= LUCIANO
i: 829 ; name= TOSCANO
i: 830 ; name= ENCARNACION
i: 831 ; name= SIMON
i: 832 ; name= DELCID
i: 833 ; name= FUNES
i: 834 ; name= ALEGRIA
i: 835 ; name= ALMAGUER
i: 836 ; name= AVENDANO
i: 837 ; name= GRIMALDO
i: 838 ; name= GUDINO
i: 839 ; name= PAYAN
i: 840 ; name= OBREGON
i: 841 ; name= IZQUIERDO
i: 842 ; name= MONTESDEOCA
i: 843 ; name= PERAZA
i: 844 ; name= ESQUEDA
i: 845 ; name= CLAUDIO
i: 846 ; name= ORONA
i: 847 ; name= HUIZAR
i: 848 ; name= ANTUNEZ
i: 849 ; name= OLMEDO
i: 850 ; name= GARNICA
i: 851 ; name= ROYBAL
i: 852 ; name= QUIROGA
i: 853 ; name= GARCES
i: 854 ; name= ALMEIDA
i: 855 ; name= BARCIA
i: 856 ; name= LEOS
i: 857 ; name= VILLEDA
i: 858 ; name= SALGUERO
i: 859 ; name= ALEJO
i: 860 ; name= ARAMBULA
i: 861 ; name= GONSALEZ
i: 862 ; name= PALAFOX
i: 863 ; name= SULLIVAN
i: 864 ; name= BUSTILLOS
i: 865 ; name= ELIZALDE
i: 866 ; name= MOREIRA
i: 867 ; name= CERNA
i: 868 ; name= VIRAMONTES
i: 869 ; name= GALDAMEZ
i: 870 ; name= OLIVER
i: 871 ; name= ALMAZAN
i: 872 ; name= RIOJAS
i: 873 ; name= DELAPAZ
i: 874 ; name= DURON
i: 875 ; name= PELAEZ
i: 876 ; name= DAMIAN
i: 877 ; name= MONZON
i: 878 ; name= BALDERRAMA
i: 879 ; name= SUAZO
i: 880 ; name= ZACARIAS
i: 881 ; name= REZA
i: 882 ; name= ELLIS
i: 883 ; name= TOLENTINO
i: 884 ; name= ROA
i: 885 ; name= MARAVILLA
i: 886 ; name= MELO
i: 887 ; name= MAGALLON
i: 888 ; name= ALVA
i: 889 ; name= GALLO
i: 890 ; name= JAVIER
i: 891 ; name= MONREAL
i: 892 ; name= ROLON
i: 893 ; name= RUANO
i: 894 ; name= GOVEA
i: 895 ; name= MAZARIEGOS
i: 896 ; name= MELGOZA
i: 897 ; name= CALVO
i: 898 ; name= CORIA
CPU times: user 21.9 s, sys: 843 ms, total: 22.8 s
Wall time: 13min 10s

We close the webdriver object and concatenate all DataFrames collected.

In [6]:
driver.close()
hispanic_inmates = pd.concat(list_of_tables)
hispanic_inmates.reset_index(inplace=True)

Table inspection

In [7]:
hispanic_inmates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12818 entries, 0 to 12817
Data columns (total 9 columns):
index                       12818 non-null int64
Click Number for Details    12818 non-null object
Name                        12818 non-null object
DC Number                   12818 non-null object
Race                        12818 non-null object
Sex                         12818 non-null object
Release Date                12813 non-null object
Current Facility            12818 non-null object
Birth Date                  12818 non-null object
dtypes: int64(1), object(8)
memory usage: 901.4+ KB

In [8]:
hispanic_inmates.sample(3)

,index,Click Number for Details,Name,DC Number,Race,Sex,Release Date,Current Facility,Birth Date
1454,35,*86,"LOPEZ, FRANCISCO J",M85744,HISPANIC,MALE,09/15/2024,SANTA ROSA ANNEX,12/03/1993
10485,9,*10,"BATISTA, RICARDO",069939,WHITE,MALE,12/22/2024,EVERGLADES RE-ENTRY,12/09/1960
10914,14,*15,"CARABALLO-TORRES, MIGUEL A",X86526,WHITE,MALE,12/19/2020,DADE C.I.,08/29/1977

We can clear this table a little bit by getting rid of some columns we don't need.

In [9]:
hispanic_inmates = hispanic_inmates[['Name', 'Race', 'Sex']]

In [10]:
hispanic_inmates.sample(3)

                    Name   Race   Sex
11303  LUCAS, DELPHONE L  BLACK  MALE
189      GARCIA, OLDEMAR  WHITE  MALE
12223     MICHEL, JASLEN  BLACK  MALE

## Distribution of race assignments

Even though most of the people in the table seem to be hispanic (some might have a hispanic name but not be hispanic), not all are labeled as such. The race categories in this database are:

In [11]:
hispanic_inmates['Race'].unique()

array(['WHITE', 'BLACK', 'HISPANIC', 'ALL OTHERS/UNKNOWN',
       'AMERICAN INDIAN OR PACIFIC ISL'], dtype=object)

The distribution of races in this database are shown in the following table.

In [12]:
race_distribution = hispanic_inmates.groupby(['Race']).count()[['Name']]
race_distribution.columns = ['Count']
race_distribution

                                Count
Race
ALL OTHERS/UNKNOWN                 87
AMERICAN INDIAN OR PACIFIC ISL      6
BLACK                            1508
HISPANIC                         3896
WHITE                            7321

A possible number for the total hispanic population would be the sum of this previous table.

In [13]:
race_distribution.sum()

Count    12818
dtype: int64